body {
  font-family: "Lato", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.w3-top {
  z-index: 1;
}

.w3-bar {
  opacity: 0.9;
}

.fb-in-logo {
  margin-top: 3px;
  margin-left: 10px;
}

.fb-in-hover:hover {
  color: rgb(255, 255, 255);
}

#contact-container {
  background: white;
  max-width: 1075px !important;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

footer {
  background-image: linear-gradient(rgb(87, 87, 87), rgb(54, 54, 54));
}
